@import '/src/scss/variables';

.main{
  .content{
  padding: 40px 0;
    &__success{
      .button{
        cursor: pointer;
      }
      .pagination{
        display: flex;
        flex-direction: row;
        &__page{
          text-align: center;
          width: 18px;
          border: none;
          padding: 4px ;
          box-shadow: 0 0 40px rgba(0, 0, 0, .2) inset;
          border-radius: 4px;
          margin-left: 10px;
          cursor: pointer;
          background-color: $red;
          color: $white;
          &_active{
            background-color: $white;
            color: $red;
          }
        }
      }
    }
    &__pokemon-list{//вопрос к БЭМУ! о вложености
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      padding: 0 40px;
      @media screen and (max-width:$tablet) {
        grid-template-columns: 1fr 1fr;
      }
      @media screen and (max-width:$phone) {
        grid-template-columns: 1fr ;
      }
    }
    &__loader{}
    &__error{}
    &__intro{}
  }

}
